:root {
    color-scheme: dark;
    color: CanvasText;
    background-color: Canvas;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
