:root {
    color-scheme: dark;
    color: CanvasText;
    background-color: Canvas;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@media (max-width: 600px) {
    body {
        align-items: center;
    }
}
